#header{
    width: 100%;
    height: 80px;
    background-color: rgb(29, 40, 53);
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
#header input{
    padding-left: 30px;
    width: 30%;
    height: 50px;
    border-radius: 10px;
    font-size: larger;
}
#heading{
    text-decoration: none;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}
#logo img{
    width: 60px;
    border-radius: 100px;
}
#cart{
    padding: 2px 5px;
    width: 70px;
    height: 50px;
    background-color: blue;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 40px;
    border-radius: 10px;
    position: relative;
}
#cart div{
    margin-left: 10px;
    font-size: 20px;
}

#menu{
    padding: 20px;
    position: absolute;
    top: 55px;
    right: 5px;
    width: 500px;
    height: 600px;
    color: black;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
}
.menu{
    padding: 10px;
    margin-top: 10px;
    width: 90%;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 2px gray;
}

.menu img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.menuName{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: space-around;
    /* border: 1px solid black; */
}
#menu button{
    position: absolute;
    bottom: 0px;
    right: 1px;
    width: 100%;
    height: 50px;
    background-color: blue;
    color: white;
}
.deletebtn{
    margin-right: 10px;
    font-size: xx-large;
}

/* Home Page */
#home{
    margin-top: 30px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#products{
    width: 70%;
    height: 800px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    overflow-y: scroll;
}

/* FIlter Page */
#filter{
    margin-left: 10px;
    width: 20%;
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: rgb(29, 40, 53);
    color: white;
    border-radius: 10px;
}
#filter h2{
    margin-top: 50px;
   margin-left: 25%;
}
.filter{
    margin: 10% 0 0 25%;
    font-size: larger;
}
.filter input{
    font-size: x-large;
    margin-right: 20px;
}
#filter button {
    margin: 20% 0 0 25%;
    width: 50%;
    height: 50px;
    font-size: larger;
    border-radius: 10px;
    font-weight: bold;
}


/* SIngle Product Page */
.card{
    padding-bottom: 20px;
    margin: 20px;
    width: 500px;
   height: fit-content;
    border: 1px solid black;
    border-radius: 10px;
}
.card img{
    width: 100%;
    border-radius: 10px;
}
.data{
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
}
.data button{
    padding: 5px 10px;
    border-radius: 5px;
}
#removebtn{
    background-color: red;
    color: white;
}
#addbtn{
    background-color: rgb(84, 84, 246);
    color: white;
}

/* Cart page */
#showcart{
    width: 50%;
    height: 880px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 2px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(69, 91, 118); 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #1e1d1d; 
  }

.showcart{
    width: 90%;
    height: fit-content;
    overflow-y: scroll;
}
.showcartData{
    margin-top: 10px;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border: 1px solid black;
    border-radius: 10px;
    background-color: rgb(190, 190, 243);
}
.showcart img{
    margin: 10px;
    width: 300px;
    border-radius: 10px;
}
.cartTotal{
    width: 50%;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    position: absolute;
    left: 100%;
    top: 0px;
    background-color: rgb(25, 25, 49);
    color: white;
}
.qty input{
    width: 40px;
    height: 30px;
    font-size: large;
    border-radius: 5px;
}
.cartTotal button{
width: 90%;
padding: 10px;
background-color: rgb(82, 82, 240);
color: white;
font-size: x-large;
border-radius: 10px;
}
.name{
    font-size: x-large;
}
.sum{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: x-large;
}

#noItems{
    margin-top: 100px;
    font-size: xx-large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #1e1d1d;
}